/** @format */

* {
	padding: 0;
	margin: 0;
}



body {
	font-family: Arial, sans-serif;
	margin: 0;
}

.navbar {
	width: 100%;
	background-color: rgba(243, 248, 247, 0.663);
	height: 70px;
}

@media screen and (max-width: 767px) {
	.navbar {
		background-color: rgb(0, 0, 0);
	}
}

#logo {
	width: 100px;
	height: 70px;
	margin-left: 150px;
}

@media screen and (min-width: 768px) and (max-width:1496px){
	#logo{
		margin-left:20px;
	}
}

#logina {
	color: rgb(53, 58, 58);
	font-weight: bold;
	font-size: 22px;
}

#logina:hover {
	color: rgb(86, 248, 153);
}

@media screen and (max-width: 767px) {
	#logo {
		margin-left: 50px;
		width: 80px;
		height: 60px;
	}
}

.navbarseconddiv {
	width: 70%;
	height: 40px;
	margin-top: 26px;
	text-align: center;
	float: right;
	justify-content: center;
}

@media screen and (max-width: 767px) {
	.navbarseconddiv {
		width:100%;
		height:350px;
		text-align: center;
		display:none;
		overflow:hidden;
		margin-top:0px;
		background-color: rgb(218, 233, 218);
	}
}

@media screen and (min-width: 768px) and (max-width:1496px){
	.navbarseconddiv{
	width:80%;
	}
}

.navbarseconddiv a {
	color: black;
	text-decoration: none;
	padding: 15px;
	font-size: 18px;
}

@media screen and (max-width: 767px) {
	.navbarseconddiv a {
	display:block;
	}
}

@media screen and (min-width: 768px) and (max-width:1496px){
	.navbarseconddiv a{
		font-size:16px;
		padding:5px;
	}
}

/* // its icon styling formatting... */

#icon{
	width:50px;
	height:45px;
	margin-top:15px;
	margin-left: 30px; 
	display: none;
}

@media screen and (max-width:767px) {
	#icon{
		position: absolute;
		margin-top:-50px;
		border-radius:50%;
		right:0;
		display:block;
		
	}
}





/* here ended navbar styling and start from hee main container tyling so let's go */

.seccont {
	width: 100%;
	height: 80px;
	background-color: rgba(255, 248, 248, 0.686);
}

.seccont h1 {
	text-align: center;
	font-size: 35px;
	color: aqua;
	padding-top: 15px;
}

/* start from here main container styling so let's start and do it .......  so at last itscp[ing paste  from here*/

.maincontainer {
	width: 100%;
	height: 400px;
	background-color: rgba(255, 248, 248, 0.686);
}

@media screen and (max-width: 700px) {
	.maincontainer {
		height: auto;
	}
}

.small {
	width: 30%;
	height: 360px;
	display: inline-block;
}

@media screen and (max-width: 700px) {
	.small {
		display: block;
		width: 100%;
		height: 250px;
	}
}

.big {
	width: 69%;
	height: 360px;
	display: inline-block;
}

@media screen and (max-width: 700px) {
	.big {
		display: block;
		width: 100%;
		height: 550px;
	}
}

#brnd1 {
	width: 100%;
	height: 343px;
}

@media screen and (max-width: 700px) {
	#brnd1 {
		height: 250px;
	}
}

.bigfont {
	width: 80%;
	height: 398px;
	margin: auto;
}

@media screen and (max-width: 700px) {
	.bigfont {
		height: auto;
	}
}

.bigfont h1 {
	padding-top: 35px;
}

.bigfont h3 {
	padding-top: 35px;
	font-size: 25px;
	color: rgb(92, 89, 89);
}

.bigfont p {
	padding-top: 35px;
	font-size: 23px;
	color: rgb(123, 128, 121);
}

@media screen and (max-width: 700px) {
	.bigfont h3,
	p {
		font-size: 15px;
		padding-top: 20px;
	}
}


@media screen and (min-width:701px) and (max-width:1100px){
	.bigfont p{
		font-size:16px;
	}
}

@media screen and (min-width:701px) and (max-width:1100px){
	.bigfont h1,h3{
		font-size:22px;
	}
}

.bigfont button {
	padding-top: 25px;
	padding-bottom: 5px;
	border: none;
	color: green;
	background-color: white;
	cursor: pointer;
	font-weight: 700;
	font-size: 17px;
}

/* let's do it and start from here footer stying so let's go  */

.footer {
	width: 100%;
	height: 433px;
	background-color: #000000;
}

@media screen and (max-width: 767px) {
	.footer {
		height:800px;
	}
}

.footer_main {
	width: 80%;
	height: 350px;
	margin: auto;
	border-bottom: 1px solid green;
	border-top: none;
	border-left: none;
	border-right: none;
}

@media screen and (max-width: 767px) {
	.footer_main {
		height:600px;
		width: 100%;
	}
}

.smallfooterhalf {
	width: 19%;
	float: left;
	margin-top:20px;
	height:250px;
	background-color: #000000;
	margin-left: 10px;
}

@media screen and (max-width: 767px) {
	.smallfooterhalf {
		margin-left: 0px;
		width: 100%;
		margin-top:10px;
		display: block;
		height:auto;
	}
}

@media screen and (min-width:768px) and (max-width:1260px) {
	#lastoffinalcont {
		width:100%;
		height:50px;
		color:white;
	}
}


#footerimg {
	width: 90%;
	margin-left: 10px;
}

@media screen and (max-width: 767px) {
	#footerimg {
		width: 100px;
	}
}

.smallfooterhalf a {
	display: block;
	text-decoration: none;
	padding-top: 30px;
	margin-left: 5px;
	color:white;
	font-weight:500;
}

@media screen and (max-width: 767px) {
	.smallfooterhalf a {
		padding-top: 10px;
		font-weight:400;
		margin-left: 20px;
	}
}

#linkdln {
	width: 60px;
	border-radius: 80px;
}

@media screen and (max-width: 767px) {
	.smallfooterhalf h2 {
		padding-top: 15px;
		margin-left: 15px;
	}
}

#info {
	margin-top: 20px;
}

@media screen and (min-width:768px) and (max-width:1260px) {
	#info {
		margin-top:-50px;
		margin-left:150px;
		font-size:20px;
		color:white;
	}
}

#emailid {
	margin-top: 20px;
	margin-left: 15px;
	color: green;
}


@media screen and (min-width:768px) and (max-width:1260px) {
	#emailid {
		/* margin-top:-50px; */
		margin-left:150px;
		font-size:16px;
		color:white;
	}
}

.lastlast {
	width: 80%;
	margin: auto;
	justify-content: space-around;
	height:auto;
}

@media screen and (max-width: 767px) {
	.lastlast {
		width: 100%;
		height:auto;
		background-color:black;
	}
}

.lastlast p {
	float: right;
	margin-left: 30px;
	margin-top: 20px;
	color:wheat;
}

@media screen and (max-width: 767px) {
	.lastlast p {
		margin-left: 22px;
		margin-top: 20px;
		font-size: 16px;
		color: white;
	}
}

#diff {
	float: left;
	color:wheat;
}

@media screen and (max-width: 767px) {
	#diff {
		color: rgb(255, 255, 255);
		font-weight: 700;
		background-color:black;
	}
}


@media screen and (max-width: 767px) {
	#pri{
	margin-left:10px;
	}
}


